.wrap {
  margin: 0 auto;
  padding: 24px;
  width: 80%;
  height: 100%;
  min-height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.05);

  .logo {
    margin-bottom: 24px;
    text-align: center;
    font-size: 24px;

    > a {
      padding: 0 16px;
    }
  }

  /* Small */
  @media (min-width: 576px) and (max-width: 767.98px) {
    width: 70%;
  }

  /* Medium */
  @media (min-width: 768px) and (max-width: 991.98px) {
    width: 60%;
  }

  /* Large */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    width: 50%;
  }

  /* Extra large  */
  @media (min-width: 1200px) {
    width: 40%;
  }

  /* Extra extra large */
  @media (min-width: 1400px) {
    width: 30%;
  }
}
