.container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 24px;

  .content {
    width: 100%;
    .basicInfo {
      > div {
        width: 50%;

        &:last-child {
          text-align: center;
          > div {
            text-align: center;
          }
        }
      }

      img {
        width: 100%;
      }
    }
  }
}
