@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --main-color: #f5f5f5;
  --main-color-rgb: 245, 245, 245;
  --common-color: #3fc1c9;
  --common-hover-color: #00a9ba;
  --common-color-rgb: 63, 193, 201;
  --accent-color: #364f6b;
  --accent-hover-color: #395b64;
  --accent-color-rgb: 54, 79, 107;
  --placeholder-color: #a5c9ca;
  --point-color: #fc5185;
  --main-font: 'Noto Sans KR', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

li {
  list-style: none;
}

body {
  /* 기본 폰트 크기 */
  font-size: 16px;
  background-color: var(--main-color);
  color: #333;

  /* 모바일 폰트 크기 */
  @media (max-width: 767.98px) {
    font-size: 14px;
  }

  /* 데스크톱 폰트 크기 */
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
  font-size: 16px;

  @media (max-width: 767.98px) {
    font-size: 14px;
  }

  @media (min-width: 992px) {
    font-size: 18px;
  }
}

button {
  cursor: pointer;
}
