@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root {
  --main-color: #fff7f7;
  --common-color: #c68fe6;
  --accent-color: #6c48c5;
  --hover-color: #1230ae;
  --main-font: 'Noto Sans KR', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

li {
  list-style: none;
}

body {
  /* 기본 폰트 크기 */
  font-size: 16px;
  color: #333;

  /* 모바일 폰트 크기 */
  @media (max-width: 767.98px) {
    font-size: 14px;
  }

  /* 데스크톱 폰트 크기 */
  @media (min-width: 992px) {
    font-size: 18px;
  }
}

button,
input {
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
  transition: 0.3s;
}

button {
  cursor: pointer;
}
